$def with (global_params, language_strings, items)
<div id="modlog_modal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('modlog_modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
		<h2>$language_strings['web_label_modlog']:</h2>
		<table class="w3-table w3-striped">
		<tr>
			<th>$language_strings['web_label_user']</th>
			<th>$language_strings['web_label_date']</th>
			<th>$language_strings['web_label_trait']</th>
			<th>$language_strings['web_label_oldval']</th>
			<th>$language_strings['web_label_newval']</th>
			<th>$language_strings['web_label_modlog_origin']</th>
		</tr>
		$for n in items:
			<tr><td>$n['name']</td><td>$n['logtime']</td><td>$n['traitid']</td><td>$n['old_val']</td><td>$n['new_val']</td><td>$n['command']</td></tr>
		</table>
      </div>
    </div>
</div>