$def with (global_params, username, btntext, action, msg)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/res/W3CSS/w3.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img_res/favicon.ico" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
</head>
<body onload='populate_page()'>
    <div>
        <form id="loginlogoutform" action="$action" method="POST" class=""></form> 
    </div>
	<div id = "modlog_area">
	</div>
	<div class="w3-bar w3-black w3-top">
        <button id="loginlogout" form="loginlogoutform" class="w3-bar-item w3-btn w3-indigo">$btntext</button>
        <span class="w3-bar-item">$username</span>
        <button id = "modregister" style="display:none" class="w3-bar-item w3-right w3-btn w3-indigo">Registro Modifiche</button>
	</div> 
	
    <div class="w3-container" id = "main">
        
		<div class="w3-sidebar w3-bar-block" style="width:10%; margin-top:55px" id='side_menu'>
		</div>

		<div style="margin-left:15%; margin-top:55px" id='main_content'>
		
		<div id = "central_msg"  class="w3-display-middle"><p>$msg</p></div>
		
		<div id = "charsheet_template"  style="display:none">
		
			<div id ="titolo" class="w3-container w3-display-container" >
				<h1 id = "title_pgname" class="charnamefont" ></h1>
				<img id = "title_clanicon" class="w3-display-topright w3-margin"/>
			</div>
			<div id ="testata" class="w3-container">
			</div>	
			<div id ="attributi" class="w3-container ">
				<h3 class = "w3-border-bottom">Attributi</h3>
				<div class = "w3-cell-row">
					<div class = "w3-container w3-cell">
						<h4>Fisici</h4>
						<table id ="fisico" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Sociali</h4>
						<table id ="sociale" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Mentali</h4>
						<table id ="mentale" class = "w3-table">
						</table>
					</div>
				</div>
			</div>
			<div id ="abilita" class="w3-container">
				<h3 class = "w3-border-bottom">Abilità</h3>
				<div class = "w3-cell-row">
					<div class = "w3-container w3-cell">
						<h4>Attitudini</h4>
						<table id ="attitudine" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Capacità</h4>
						<table id ="capacita" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Conoscenze</h4>
						<table id ="conoscenza" class = "w3-table">
						</table>
					</div>
				</div>
			</div>
			<div id ="vantaggi" class="w3-container">
				<h3 class = "w3-border-bottom">Vantaggi</h3>
				<div class = "w3-cell-row">
					<div class = "w3-container w3-cell">
						<h4>Discipline</h4>
						<table id ="disciplina" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left" id = "switch_vie">
						<div class = "w3-container" id = "switch_viataum">
							<h4>Vie Taumaturgiche</h4>
							<table id ="viataum" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container"  id = "switch_vianecro">
							<h4>Vie Necromantiche</h4>
							<table id ="vianecro" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container"  id = "switch_viaduranki">
							<h4>Dur-An-Ki</h4>
							<table id ="viaduranki" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container"  id = "switch_viaahku">
							<h4>Ahku</h4>
							<table id ="viaahku" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container"  id = "switch_brujerizmo">
							<h4>Brujerizmos</h4>
							<table id ="brujerizmo" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container"  id = "switch_viadarktaum">
							<h4>Vie Taumaturgiche oscure</h4>
							<table id ="viadarktaum" class = "w3-table">
							</table>
						</div>
					</div>
					<div class = "w3-container w3-cell w3-border-left"  id = "switch_combinata">
						<h4>Combinate</h4>
						<table id ="combinata" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Background</h4>
						<table id ="background" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell w3-border-left">
						<h4>Virtù</h4>
						<table id ="virtu" class = "w3-table">
						</table>
					</div>
				</div>
			</div>
			<div id ="coda" class="w3-container">
				<div class = "w3-cell-row w3-border-top">
					<div class = "w3-container w3-cell">
						<h4>Pregi e Difetti</h4>
						<table id ="pregdif" class = "w3-table">
						</table>
						<div id = "switch_talento">
						<h4>Talenti del Sangue</h4>
						<table id ="talento" class = "w3-table">
						</table>
						</div>
					</div>
					<div class = "w3-container w3-cell">
						<table id ="uvp" class = "w3-table">
						</table>
					</div>
					<div class = "w3-container w3-cell">
						<h4>Salute</h4>
						<table id ="sal" class = "w3-table">
						</table>
						<table id ="px" class = "w3-table">
						</table>
					</div>
				</div>
			</div>
			<div id ="altro" class="w3-container">
			<h4>Altri tratti</h4>
			</div>
		</div>
		</div>
    </div>
	<script src="../script.js"></script>
</body>
</html>