$def with (version_string, global_params, language_strings, username, user_avatar_url, btntext, action, msg)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>$language_strings['web_label_dashboard']</title>
    <!--<link rel="stylesheet" href="/res/W3CSS/w3.css">-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img_res/favicon.ico" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet"> 
</head>
<body onload='populate_page()'>
    <div>
        <form id="loginlogoutform" action="$action" method="POST" class=""></form> 
    </div>
	<div id = "modlog_area">
	</div>
	<div id = "inputmodal_area">
	</div>
	<div id = "noyesbox_area">
	</div>
	<div id = "newchar_modal_area">
	</div>
	<div id = "message_modal_area">
	</div>
	<div class="w3-bar w3-black w3-top">
		<button class="w3-button w3-indigo w3-bar-item" onclick="w3_open()" id="openNav" style="display:none">☰</button>
		<span class="w3-bar-item">$version_string</span>

		<div id='user-info'>
        	<button id="loginlogout" form="loginlogoutform" class="w3-bar-item w3-btn w3-indigo w3-right">$btntext</button>
        	<span class="w3-bar-item w3-right">$username</span>
			<img src="$user_avatar_url" class="w3-bar-item w3-right w3-circle user-avatar-navbar">
		</div>
	</div> 
	
    <div class="w3-container under-navbar " id = "main"> <!-- w3-display-container-->
        
		<div class="w3-sidebar w3-bar-block larger-sidebar w3-animate-left" id="side_menu" style="display:none">
			<button onclick="w3_close()" class="w3-bar-item w3-button w3-large">$language_strings['web_label_sidebar_close']</button>
			<div id = "action-menu">
				<h3>$language_strings['web_label_actions']:</h3>
				<!-- fixed actions -->
				<a href="editTranslations" id = "traittranslation" class="w3-bar-item w3-button" style="display:none">$language_strings['web_label_trait_translation']</a>
				<a href="#" id = "newchar" class="w3-bar-item w3-button" style="display:none">$language_strings['web_label_new_character']</a>
				<a href="#" id = "modregister" class="w3-bar-item w3-button" style="display:none">$language_strings['web_label_mod_register']</a>
				<!-- tabs -->
				<a href="#" id = "charnotes" class="w3-bar-item w3-button" onclick="ui_notes()" style="display:none">$language_strings['web_label_character_notes']</a>
				<a href="#" id = "chartab" class="w3-bar-item w3-button" onclick="tabswitch('charsheet')" style="display:none">$language_strings['web_label_character_tab']</a>
				<a href="#" id = "mi_macros" class="w3-bar-item w3-button" onclick="tabswitch('tab_macros')" style="display:none">$language_strings['web_label_macros_tab']</a>
				<!-- conditional actions -->
				<a href="#" id = "editchar" class="w3-bar-item w3-button" onclick="switchEditMode()" style="display:none">$language_strings['web_label_edit_character']</a>
				<a href="#" id = "addtraitchar" class="w3-bar-item w3-button" onclick="openNewTrait()" style="display:none">$language_strings['web_label_addt_character']</a>
			</div>
		</div>

		<div class = "central_content under-navbar " id='main_content'> <!-- w3-display-container-->
		
			<div id = "central_msg"  class="w3-display-middle"> 
				<p>$msg</p>
			</div>
			
			<div id = "charsheet_template"  style="display:none">
			  <div class = "w3-display-topmiddle under-navbar central_content ">
				<div id ="titolo" class="w3-container" >
					<h1 id = "title_pgname" class="charnamefont" ></h1>
					<img id = "title_clanicon" class="w3-display-topright w3-margin clan-icon"/>
				</div>
				<div id ="divtestata" class="w3-container">
					<table id ="testata" class = "w3-table">
					</table>
				</div>	
				<div id ="attributi" class="w3-container ">
					<h3 class = "w3-border-bottom">$language_strings['web_label_attributes']</h3>
					<div class = "w3-cell-row">
						<div class = "w3-container w3-cell w3-mobile">
							<h4>$language_strings['web_label_attributes_physical']</h4>
							<table id ="fisico" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_attributes_social']</h4>
							<table id ="sociale" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_attributes_mental']</h4>
							<table id ="mentale" class = "w3-table">
							</table>
						</div>
					</div>
				</div>
				<div id ="abilita" class="w3-container">
					<h3 class = "w3-border-bottom">$language_strings['web_label_abilities']</h3>
					<div class = "w3-cell-row">
						<div class = "w3-container w3-cell w3-mobile">
							<h4>$language_strings['web_label_abilities_talents']</h4>
							<table id ="attitudine" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_abilities_skills']</h4>
							<table id ="capacita" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_abilities_knowledges']</h4>
							<table id ="conoscenza" class = "w3-table">
							</table>
						</div>
					</div>
				</div>
				<div id ="vantaggi" class="w3-container">
					<h3 class = "w3-border-bottom">$language_strings['web_label_advantages']</h3>
					<div class = "w3-cell-row">
						<div class = "w3-container w3-cell w3-mobile faster-mobile">
							<h4>$language_strings['web_label_advantages_disciplines']</h4>
							<table id ="disciplina" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile faster-mobile custom-disappearing-border-left" id = "switch_vie">
							<div class = "w3-container nopadding" id = "switch_viataum">
								<h4>$language_strings['web_label_advantages_thaumaturgical_paths']</h4>
								<table id ="viataum" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_vianecro">
								<h4>$language_strings['web_label_advantages_necromantic_paths']</h4>
								<table id ="vianecro" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_viaduranki">
								<h4>$language_strings['web_label_advantages_duranki_paths']</h4>
								<table id ="viaduranki" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_viaahku">
								<h4>$language_strings['web_label_advantages_ahku_paths']</h4>
								<table id ="viaahku" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_brujerizmo">
								<h4>$language_strings['web_label_advantages_brujerizmos_paths']</h4>
								<table id ="brujerizmo" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_viadarktaum">
								<h4>$language_strings['web_label_advantages_darkthaumaturgical_paths']</h4>
								<table id ="viadarktaum" class = "w3-table">
								</table>
							</div>
							<div class = "w3-container nopadding"  id = "switch_viawanga">
								<h4>$language_strings['web_label_advantages_wanga_paths']</h4>
								<table id ="viawanga" class = "w3-table">
								</table>
							</div>
						</div>
						<div class = "w3-container w3-cell w3-mobile faster-mobile custom-disappearing-border-left"  id = "switch_combinata">
							<h4>$language_strings['web_label_advantages_combined']</h4>
							<table id ="combinata" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile faster-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_advantages_backgrounds']</h4>
							<table id ="background" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile faster-mobile custom-disappearing-border-left">
							<h4>$language_strings['web_label_advantages_virtues']</h4>
							<table id ="virtu" class = "w3-table">
							</table>
						</div>
					</div>
				</div>
				<div id ="coda" class="w3-container">
					<div class = "w3-cell-row w3-border-top w3-margin-top">
						<div class = "w3-container w3-cell w3-mobile">
							<h4>$language_strings['web_label_trait_pregdif']</h4>
							<table id ="pregdifnum" class = "w3-table w3-bordered">
							<table id ="pregdif" class = "w3-table w3-bordered">
							</table>
							<div id = "switch_talento">
							<h4>$language_strings['web_label_trait_bloodtalent']</h4>
							<table id ="talento" class = "w3-table">
							</table>
							</div>
						</div>
						<div class = "w3-container w3-cell w3-mobile w3-center">
							<table id ="uvp" class = "w3-table">
							</table>
						</div>
						<div class = "w3-container w3-cell w3-mobile">
							<h4>$language_strings['web_label_trait_health']</h4>
							<table id ="sal" class = "w3-table">
							</table>
							<table id ="px" class = "w3-table w3-margin-top">
							</table>
						</div>
					</div>
				</div>
				<div id ="altro" class="w3-container">
				<h4>$language_strings['web_label_trait_other']</h4>
				</div>
			  </div>
			</div>
		</div>
    </div>
	<div id="msg_toast">Sample text</div>
	<script src="../script.js"></script>
</body>
</html>