$def with (formAction)
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login con discord</title>
    <link rel="stylesheet" href="/res/W3CSS/w3.css">
    <link rel="stylesheet" href="/res/custom/CSS/custom.css">
    <link rel="shortcut icon" type="image/x-icon" href="/res/custom/img/favicon.ico" />
</head>
<body>
    <div class="w3-container">
        <div class="w3-display-middle w3-card-4">
                <div class="w3-container w3-center w3-indigo">
                    <h2>Login con discord</h2>
                </div>
                <div>
			 <form action="$formAction" method="POST" class="w3-container">
			    <p>
				<button class="w3-btn w3-indigo">Login</button>
		        </p>
			</form> 
		</div>
        </div>
    </div>
</body>
</html>

