
.charnamefont {
  font-family: 'Merienda One', cursive;
}
.nopadding {
	padding: 0px 0px !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main-content{
  margin-top:55px;
}
