
.charnamefont {
  font-family: 'Merienda One', cursive;
}
.nopadding {
	padding: 0px 0px !important;
}

.dotseq{
  margin-left: 10px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.under-navbar{
  margin-top:55px;
}

.delete_control{
  color:red;
}

.empty_space_tofill{
  padding-left: 30px;
  background-color: red;
}

.central_content{
  width: max-content;
}

.larger-sidebar{
  width: auto;
  height: 90vh;
}

.modal-button{
  margin: 16px;
}

.modal-submit{
  float: right;
}

.tab-page{
  width: 70%;
}

.large-textarea{
  height: 80vh;
  resize: none;
}

.medium-textarea{
  height: 60vh;
  resize: none;
}

.float-right{
  float: right;
}

.extra-health{
  filter: sepia();
}

/* autocomplete stuff */

/*

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 500px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* TOASTS */

#msg_toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  /*background-color: #f33;*/
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.error_toast{
  background-color: #f33;
}
.success_toast{
  background-color: #3f3;
}

.msg_toast{
  background-color: #33f;
}

#msg_toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}